@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #4a9073;
  font-family: "Baloo Paaji 2", cursive;
}

.align-right {
  margin-left: auto;
}

.card {
  transition: all 0.3s ease;
}
.expanded {
  /* grid-column: span 2; */
  grid-row: span 2;
}
.segmented-control {
  display: inline-block;
  border: 3px solid #669f87;
  border-radius: 8px;
  overflow: hidden;
}
.segmented-control__item {
  float: left;
  list-style-type: none;
}
.segmented-control__input {
  position: absolute;
  visibility: hidden;
}
.segmented-control__label {
  display: block;
  padding: 0.5em 2em;
  margin: -1px 0;
  /* border-left: 1px solid #ffffff; */
  text-align: center;
  cursor: pointer;
}
.segmented-control__item:first-child .segmented-control__label {
  border-left-width: 0;
}
.segmented-control__label:hover {
  background: #dcdcdc;
}
.segmented-control__input:checked + .segmented-control__label {
  background: #669f87;
  color: #ddd;
  font-weight: bold;
}
